streamlit
pandas
dash
dash_bootstrap_components
pylint
black
gunicorn
redis
pytest
platformdirs>=3.9.1
wordcloud
matplotlib
numpy
matplotlib.pyplot
tools
# mypy stubs
types-matplotlib
types-numpy
pandas-stubs
types-streamlit